# Ignore RStudio project files
*.Rproj

# Ignore R history files
*.Rhistory
*.Rapp.history

# Ignore R session data
*.RData
*.RDataTmp
*.Ruserdata

# Ignore output files from R CMD build and check
/*.tar.gz
/*.Rcheck/

# Ignore cache directories
*_cache/
/cache/

# Ignore temporary files created by R markdown
*.utf8.md
*.knit.md

# Ignore generated plots (e.g., PDFs, PNGs)
*.pdf
*.png
*.jpeg
*.jpg

# Ignore data files (e.g., CSV, Excel, RDS)
*.csv
*.tsv
*.xlsx
*.rds

# Ignore other unwanted directories
rsconnect/

# Explicitly allow R scripts (don't ignore them)
!*.R
.Rproj.user
